html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 15px;
}

/* 下面2个是解决Cate.vue里面级联选择样式的问题 */
.el-cascader-menu {
  height: 300px;
}
.el-scrollbar__wrap {
  overflow: hidden;
  overflow-y: scroll;
  /* 或者加个padding-bottom: 17px,为什么margin-bottom: -17px不管用,
  我也搞不清,我也感觉margin更合理点阿 */
  height: 100%;
}

.el-steps {
  margin: 15px 0;
  /* display: flex;
  justify-content: center; */
}
.el-step__title {
  font-size: 13px;
}

.ql-editor {
  min-height: 300px;
}